.nav{
    background-color:black;
    color: white;
    padding:5px;
}

ul{
    display:flex;
    list-style: none;
}

a{
    text-decoration:none;
    color:white;
}

li{
    margin-right: 10px;
}

.div1{
    height:200px;
    width:300px;
    background-color: blueviolet;
    margin:10px;
}

.div2{
    height:200px;
    width:300px;
    background-color: blueviolet;
    margin:10px;
}

.div3{
    height:200px;
    width:300px;
    background-color: blueviolet;
    margin:10px;
}

.div4{
    height:200px;
    width:300px;
    background-color: blueviolet;
    margin:10px;
}

.s1{
    height:200px;
    width:300px;
    background-color:yellowgreen;
    margin:10px;
}

.s2{
    height:200px;
    width:300px;
    background-color:yellowgreen;
    margin:10px;
}

.s3{
    height:200px;
    width:300px;
    background-color:yellowgreen;
    margin:10px;
}

.s4{
    height:200px;
    width:300px;
    background-color:yellowgreen;
    margin:10px;
}

.container{
    display:flex;
}

.container .sidebar{
    width:15%;
    background-color:rgb(66, 119, 69);
}

.container .main_content{
    width:85%;
    background-color:rgb(155, 149, 76);
}

.product{
    display:flex;
} 

.members{
    display:flex;
}